- form_for @list, :url => copy_move_list_path(@list.id, :vocabulary_id => @params[:vocabulary_id]), :remote => true do |form|
  %li= select_tag "new_list_id", options_for_select(@lists.collect {|l| [ l.name, l.id ] })
  %li= submit_tag @params[:method], :class => 'reverse'