= render :partial => 'lists/manage'
  
- unless !current_user || current_user.lists.blank?

  - content_for :custom_includes do
    = javascript_include_tag 'slider.js'
    :javascript
      var slider;
      Event.observe(window, 'load', function() {
        slider = new Control.Slider('handle', 'track', {
          axis: 'vertical',
          onSlide: function(v) { scrollVertical(v, $('lists'), slider);  },
          onChange: function(v) { scrollVertical(v, $('lists'), slider); }
        });
        if ($('lists').scrollHeight <= $('lists').offsetHeight) {
          slider.setDisabled();
          $('wrap').hide();
        }
      });
      function scrollVertical(value, element, slider) {
        element.scrollTop = Math.round(value/slider.maximum*(element.scrollHeight-element.offsetHeight));
      }
    
  .content
    .tabs.green
      %h1 Your lists
    #scrollbox
      #lists
        %ul
          - current_user.lists.each do |list|
            %li= link_to shorten_text(list.name), list_path(list.permalink)
      #wrap
        #track-top
        #track
          #handle= image_tag 'scrollbar-handle-vertical.png'