= render :partial => 'lists/manage'
  
- unless current_user.lists.blank?
  .content
    .tabs.green
      %h1 Your lists
    %p Pick a list:
    %form
      = select 'your', 'lists', lists_as_options(current_user.lists), :include_blank => true
      = observe_field(:your_lists, :frequency => 1, :function => "window.location = $A($('your_lists').options).find(function(option) { return option.selected; } ).value")