%li= link_to 'Delete from list', unlink_list_path(@list, :vocabulary_id => @vocabulary.id), :method => :delete, :remote => true
%li= link_to 'Move to other list', copy_move_list_path(@list, :vocabulary_id => @vocabulary.id, :method => 'Move to list'), :method => :post, :remote => true
%li= link_to 'Copy to other list', copy_move_list_path(@list, :vocabulary_id => @vocabulary.id, :method => 'Copy to list'), :method => :post, :remote => true