- if @vocabularies.blank?
  %li Looks like the list criteria doesn't match any vocabularies.
  - if current_user == @list.user
    %li= link_to 'Change this.', edit_list_path(@list.permalink)

- else
  - @vocabularies.each do |vocabulary|
    %li
      %ul.inline
        %li= link_to(vocabulary.word, vocabulary_path(vocabulary.permalink))
        - if @list.verb?
          - begin
            - vocabulary.conjugate_all(@tense_id).each do |i|
              %li= i
          - rescue
            %li No conjugation patterns have been added yet
        - else
          - vocabulary.translations(@list.language_to_id).each do |i|
            %li= i.word