- content_for :sidebar do
  =  render :partial => 'manage'
  
- content_for :notice do
  %h1 Edit list
  %p Edit list of vocabularies

- semantic_form_for @list, :url => list_path(@list.permalink) do |form|
  = form.error_messages
  = render :partial => "inputs", :locals => { :form => form }
  - form.buttons do
    = form.commit_button "Save"
    
