- content_for :title, "Print list"

%h1= @list.name + (@list.verb? ? " (in #{ConjugationTime.find(@tense_id).name})" : "")
%p
  A Vocabulario list by
  = @list.user.name

- if @vocabularies.blank?
  %p Looks like you've set your list criteria in a way that it doesn't match any vocabularies.

- else
  %ul.list
    = render :partial => 'regular_list', :object => @list