*._*
*.*~
.bundle
.rsync_cache
*.DS_Store
Capfile
config/database.yml
config/deploy.rb
config/deploy/*
config/initializers/secret_token.rb
log/*.log
db/*.db
tmp/*/*
vendor/plugins/acts_as_taggable_on_steroids
vendor/plugins/acts_as_textiled
vendor/plugins/gravatar-plugin
mkmf.log
