.rsync_cache
*.DS_Store
Capfile
config/database.yml
config/deploy.rb
config/deploy/*
config/initializers/site_keys.rb
log/*.log
db/*.db
tmp/*/*
vendor/plugins/acts_as_list
vendor/plugins/acts_as_textiled
vendor/plugins/gravatar
vendor/plugins/viget_deployment
mkmf.log