<ul class="inline">
  <% @vocabularies.each do |vocabulary| %>
    <li><%= link_to(vocabulary.name.sub(@search,"<b>#{@search}</b>"), vocabularies_permalink_path(vocabulary.permalink))) %></li>
  <% end %>
</ul>
<% if @search.blank? %>
  <br />
  <%= will_paginate @vocabularies, :params => { :controller => "vocabularies", :action => "index" } %>
<% end %>