- content_for :sidebar do
  #test_score.content= render(@score)

- content_for :notice do
  %h1 Test Center
  %p To take a vocabulary or conjugation test fill out the form below!

#test_tabs.tabs
  #vocabulary_test_link.tab_link.active= link_to_remote("Vocabulary Test", :url => new_score_path(:menu => 'vocabulary'))
  #conjugation_test_link.tab_link= link_to_remote("Conjugation Test (BETA)", :url => new_score_path(:menu => 'conjugation'))

#error_pane.tab_content_pane{:style => 'display:none'}

#test_pane.tab_content_pane
  = render(:partial => 'vocabulary_test/vocabulary_test')