body {
	background: url('../images/background.jpg');
	color: #555;
	font-family: Helvetica, Geneva, 'Lucida Grande';
	font-size: 101%;
	margin: 50px;
}

a, #notice {
	text-decoration: none;
	color: #72CB36;
}

a:hover {
	text-decoration: underline;
}

a img { border:none; }

a.edit { font-size: 0.7em; }

h1 {
  color: #95C9F2;
  font-size: 1.35em;
  margin: 0 0 10px 0;
}

h2 {
	font-size: 1.05em;
	margin: 1em 0 .3em;
}

p, ul, ol, .pagination, #footer, #notice, #error { font-size: 0.9em; }

p { margin: 5px 0 0 0; }

form p { margin: 15px 0 0 0; }

#content { margin: 0 auto; width: 900px; }

.content, #header { margin-bottom: 25px; }

#main { width: 670px; }

#main_wide { width: 900px; }

#sidebar { width: 200px; float: right; }

#sidebar h1 { color: #BBB; }

.content, #notice, #error, #navigation, #footer {
	background: #FFF;
	border: 1px solid #B2DDF2;
	padding: 10px;
}

#navigation {
	float: right;
	height: 21px; 
	list-style-type: none;
	margin: 0;
	padding: 8px 5px 2px 5px;
}

#navigation li {
	display: inline;
	font-size: 1em;
	padding: 5px;
}

#footer, #notice, #error, .pagination { text-align: center; }

#notice, #error {
	height: 21px;
	margin-top: 25px;
	padding: 8px 5px 2px 5px;
}

#footer {
	float: right;
	margin-bottom: 25px;
	width: 878px;
}

#notice { border: 1px solid #72CB36; margin-bottom: 25px; }

#error {
	border: 1px solid #FF0000;
	color: #FF0000;
	margin-bottom: 25px;
}

#page {
	background-image: url('../images/bg_main.jpg');
	background-repeat: repeat-x;
	margin: 0;
	margin-bottom: 10px;
	padding: 25px;
}

fieldset {
	border: none;
}

label {
	display:block;
	font-weight:bold;
	margin: 0 0 5px 0;
}

#spinner {
	float: right;
	margin: 10px;
}

#photos {
	margin-left:230px;
}

#photos img {
	background-color: #FFF;
	border: 1px solid #9C9791;
	padding: 5px;
	margin: 0 10px 10px 0;
}

#albums, #admin, #recent_posts {
	float:left;
	clear:left;
	width: 210px;
}

.content ul {
	margin:0;
	padding:0;
	list-style-type: none;
}

.content ul li, ol li {
	padding: 0 0 5px 0;
}

#albums img, #admin img {
	vertical-align:middle;
}

#albums a, #admin a, #image_destroy a {
	color:#FFF;
	padding:5px;
	text-decoration:none;
	display:block;
}

#albums a:hover, #admin a:hover {
	background-color:#393024;
}

.album-active {
	background:#393024 !important;
}

#image_destroy a:hover {
	background-color: #900;
}

.image_destroy_active {
	background:#900 !important;
}




#lightbox{
	background-color:#eee;
	padding: 10px;
	border-bottom: 2px solid #9C9791;
	border-right: 2px solid #9C9791;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}	
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;} 
#overlay img{ border: none; }

#overlay{ background-image: url(../images/overlay.png); }

* html #overlay{
	background-color: #9C9791;
	back\ground-color: transparent;
	background-image: url(../images/blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/overlay.png", sizingMethod="scale");
	}

#signup_link {
	text-align:right;
}

.fieldWithErrors  {
  border-left:6px solid #900;
  padding-left:2px;
}


.fieldWithErrors+label {
  margin-top:0;
}


#errorExplanation {
	width:100%;
	margin:10px 0 20px;
  	background:#FCC;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: .25em .25em .25em 35px;
  font-size: 12px;
  background:#C66 url(../images/alert.gif) no-repeat 10px 50%;
  color: #fff;
  border-top:3px solid #900;
  border-bottom:3px solid #900;
  margin-top:0;
}

#errorExplanation p {
  color: #9C9791;
  margin-bottom: 0;
  padding: .5em 1em;
  font-size:11px;
  font-weight:bold;
}

#errorExplanation ul {
	margin-left:30px;
	padding:0 0 20px;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
