body {
	background-color: #FFF;
	color: #555;
	font-family: Helvetica, Geneva, 'Lucida Grande';
	font-size: 115%;
	margin: 0;
}

a { color: #02B8EA; }

a:hover { text-decoration: none; }

em { color: #FFF; background-color: #02B8EA; font-style: normal; padding: 3px 4px 1px 3px; }

em a { color: #FFF; text-decoration: none; }

em a:hover { text-decoration: underline; }

h1 { color: #C0ED00; font-size: 1.8em; margin: 0 0 10px 0; }

h2 { color: #888; font-size: 1.4em; margin: 25px 0 10px 0; }

p { margin: 5px 0 15px 0; }

ul { list-style-type: none; }

ol { font-size: 1.2em; }

ol li { margin-bottom: 25px; }

ol li a { color: #FFF; }


/* Navigation */

#header {
	background-color: #02B8EA;
	border-bottom: 1px #999 solid;
	margin-bottom: 45px;
	width: 100%;
}

ul#navigation {
	margin: 0 auto;
	width: 918px;
	padding: 17px 15px 15px 15px;
}

#navigation li {
	display: inline;
	font-size: 1.1em;
}

#navigation a {
	color: #FFF;
	padding: 8px 10px 5px 10px;
	text-decoration: none;
}

#navigation a:hover {
	color: #02B8EA;
	background-color: #FFF;
}


/* Main content */

#content { margin: 0 auto; width: 900px; }

.content { margin-bottom: 35px; }

.content ul {
	margin: 0;
	padding: 0;
}

.content ul li { margin: 0 10px 5px 0; }

.content ul.inline li { display: inline; }

#main { width: 650px; }

#notice, #user_bar {
	background: #C0ED00;
	border: 1px solid #999;	
}

#notice {
	height: 21px;
	margin: 20px 0 40px 0;
	padding: 8px 5px 2px 5px;
	width: 100%;
}


/* Sidebar */

#sidebar { width: 200px; float: right; }

#sidebar h1 { color: #888; margin-top: 3px; }

#footer, #notice, .pagination { text-align: center; }


/* User bar */

#user_bar {
	float: left;
	font-size: 0.9em;
	padding: 5px;
	width: 100%;
}

#user_bar a { color: #555; }

.gravatar {
	background-color: #FFF;
	float: left;
	border: 1px #999 solid;
	margin-right: 5px;
	padding: 2px;
}


/* User list */

.user_list {
	float: left;
	font-size: 0.9em;
	margin: 0 20px 20px 0;
}

em.tag {
	font-size: 0.8em;
	text-transform: uppercase;
}


/* Forms */

label {
	display:block;
	font-weight:bold;
	margin: 0 0 5px 0;
}

form p { margin: 0 0 20px 0; }

.fieldWithErrors  {
  border-left:6px solid #900;
  padding-left:2px;
}

.fieldWithErrors+label {
  margin-top:0;
}

#errorExplanation {
	border: 1px solid #555;
	width:100%;
	margin:10px 0 40px 0;
  	background:#FCC;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: .25em .25em .25em 35px;
  font-size: 12px;
  background:#C66 url(../images/alert.gif) no-repeat 10px 50%;
  color: #fff;
  border-top:3px solid #900;
  border-bottom:3px solid #900;
  margin-top:0;
}

#errorExplanation p {
  color: #9C9791;
  margin-bottom: 0;
  padding: .5em 1em;
  font-size:11px;
  font-weight:bold;
}

#errorExplanation ul {
	margin-left:30px;
	padding:0 0 20px;
}


/* Tag cloud */

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }


/* Footer */

#footer {
	float: right;
	padding: 10px;
	border-top: 1px #999 solid;
	margin: 15px 0 15px 0;
	width: 100%;
}
