/* Defaults 
   ======== */

body {
	background-color: #FFF;
	color: #999;
	font-family: Helvetica, Geneva, 'Lucida Grande';
	font-size: 115%;
	margin: 0;
	padding: 0;
}

a { color: #02B8EA; text-decoration: none; }
a:hover { border-bottom: #02B8EA 3px solid; }

em, #order a {
	color: #FFF;
	background-color: #02B8EA;
	font-style: normal;
	padding: .25em;
}
em a, #order a, a.options_link { color: #FFF; text-decoration: none; }
em a:hover, #order a:hover { text-decoration: underline; }

h1 {
	color: #02B8EA;
	font-size: 1.7em;
	margin: 0 0 8px 0;
}
h2, label {
	font-size: 1.4em;
	margin: 10px 0 5px 0;
}
h3 {
	color: #444;
	font-size: 1em;
	margin: 30px 0 5px 0;
}

p { margin: 5px 0 15px 0; }
p.small, ul.small {font-size: .8em; }
p.small { font-style: italic; }
.spacing { margin-bottom: 30px; }
.spacing_top { margin: 5px 0 0 0; }

ul {
	list-style-type: none;
	margin: 0; 
	padding: 0;
}
li { margin: 0 0 .75em 0 }
ol { font-size: 1.2em; margin: 0; }
ol li { margin: 0 0 40px 0; }

table { margin-left: -2px; }
td, th { background-color: #EEE; padding: .3em; }
th { background-color: #CCC; text-align: left; }


/* "Navigation"
   ============ */

#header { padding: 25px 25px 15px 0; }

#header .navigation {
	float: right;
	padding: 0 1em 0 0;
}

#header .no-floater {
	float: none;
	padding: 0;
}

#header .navigation a {
  font-size: 1.2em;
	color: #C0D1C8;
	margin-left: 25px;
	padding-bottom: .15em;
}

#header .navigation a:hover, .tab_link a:hover { border-bottom: #C0D1C8 3px solid; }
#header .no-floater a:hover, #notice a.close:hover { border-bottom: none }

#header .navigation a.active { color: #02B8EA }
#header .navigation a.active:hover, .active a:hover { border-bottom: #02B8EA 3px solid; }


/* "Notice"
   ======== */

#notice .bg, #notice .bg_alert { margin: 0 25px 15px 25px; }
#notice .bg { background-color: #C0ED00; }
#notice .tr { background: url("../images/corner_top_right.png") 100% 0 no-repeat; padding: 9px; }
#notice .bg_alert { background-color: #C66; }
#notice .br_alert { background: url("../images/corner_bottom_right_alert.png") 100% 100% no-repeat }
#notice .bl_alert { background: url("../images/corner_bottom_left_alert.png") 0 100% no-repeat }
#notice .tl_alert { background: url("../images/corner_top_left_alert.png") 0 0 no-repeat }
#notice .tr_alert { background: url("../images/corner_top_right_alert.png") 100% 0 no-repeat; padding: 9px; }

#notice p, #notice .close { color: #FFF; }
#notice em { background-color: #C0ED00; font-weight: bold; }
#notice .tr_alert em { background-color: #C66; }
#notice p {
  font-size: 1.25em;
	margin: 0;
}

#notice a.close { float: right; font-wright: bold; margin: -5px 0 0 25px; }

.error, .error h3 { color: #C66; }
#pagination { margin: 25px 0 15px 0; }


/* "Main"
   ====== */

#main	{ padding: 25px; }

#sidebar {
  font-size: 1.05em;
  float: right;
  padding: 0 25px 25px 50px;
  width: 300px;
}

.content, .tab_content_pane { padding-bottom: 30px; }

ul.inline { line-height: 1.5; padding: 0; }

ul.inline li { display: inline; padding-right: .6em; }

#scores p { font-size: .8em; margin-top: 10px; }


/* "Main" -> "Tabs"
   ================ */

.tabs { padding-bottom: .5em; font-size: 1.2em; }

.tab_link, .first {
  border-left: #C0D1C8 3px solid;
	display: inline;
	margin-right: 2px;
	padding:  0 .25em 0 .5em;
}
.first { border-left: none; padding-left: 0; }

.tab_link a { color: #C0D1C8; padding-bottom: .15em; }

.tab_content_pane { padding: 30px 20px 0px 20px; }
.tab_content_pane .content { padding-bottom: 25px; }

a.active, .active a { color: #02B8EA }

#tab_browser { margin: 5px 0 10px 0; }


/* "Main" -> "Test section"
   ======================== */

#error_pane { background-color: #C66; padding-bottom: 20px; margin-bottom: 40px; }

#error_pane em { color: #C66; background: none; font-weight: bold; padding: 0; }


/* "Main" -> "User list"
   ===================== */

.user_list {
	float: left;
	font-size: .9em;
	margin: 0 30px 30px 0;
}

em.tag {
	font-size: .8em;
	text-transform: uppercase;
}


/* "Main" -> "Vocabulary list"
   ========================== */
   
ul#latest.list { margin-top: -9px; }

ul.list li.item { cursor: move; }

.list li ul.inline li.highlight { background-color: #02B8EA; color: #FFF; }

.list li ul.inline { padding: 0 .55em .6em 0; }

.list li ul.inline li {
	background-color: #DED;
	margin: 0 5px 5px 0;
	padding: .2em .4em .3em .4em;
}

a.delete { color: #C66; text-decoration: none; }

ul#order { float: right; margin-right: -10px; }

#order a { font-size: .75em; padding: .15em .25em .15em .25em; }

.list li ul.inline li.options_menu { background-color: #444; }
 
a.options_link { color: #FFF; }
a.options_link:hover { border: none; }

ul.list_options {
  background-color: #02B8EA;
  font-size: .75em;
  padding: .5em;
  position: absolute;
  z-index: 100;
}

.list li ul.inline ul.list_options li { background-color: #02B8EA; display: block; margin: 3px 0 3px 0; padding: 0; }

.list li ul.inline ul.list_options li a { color: #FFF; }


/* "Main" -> "Vocabulary pane"
   ========================== */

#vocabulary_pane h2 { margin: 5px 0 10px 0; }

#vocabulary_pane .no-floater { margin: 0 0 35px 0; }

.floater { float: left; margin: 0 50px 0 0; }

.floater h3, .no-floater h3 { margin-top: 0; }

#taglist { cursor: pointer; }


/* "Main" -> "Comments"
   =================== */
   
#comments li { padding-bottom: 10px; }
   
#comments ol, #comments ul, #comments p, #comments h1, #comments h2, #comments h3, #comments h4, #comments h5 { color: #666; font-size: 1em; margin: 5px 0 5px 0; padding: 0; }

#comments h1 { font-size: 1.25em; }

#comments h2 { font-size: 1.2em; }

#comments h3 { font-size: 1.15em; }

#comments h4 { font-size: 1.1em; }

#comments ol, #comments ul { margin-left: 35px; padding: 0; }

#comments ul { list-style-type: square; }

#comments ul li, #comments ol li { margin: 0; padding: 0; }


/* "Sidebar"
   ========= */

#sidebar a { color: #C0ED00; }
#sidebar a:hover { border-bottom: #C0ED00 3px solid; }
#sidebar form { margin-top: 5px; }

#sidebar .bg { background-color: #C0ED00; margin: 25px 0 15px 0; }
.br { background: url("../images/corner_bottom_right.png") 100% 100% no-repeat }
.bl { background: url("../images/corner_bottom_left.png") 0 100% no-repeat }
.tl { background: url("../images/corner_top_left.png") 0 0 no-repeat }
#sidebar .tr {
  background: url("../images/corner_top_right.png") 100% 0 no-repeat; padding: 9px;
  color: #FFF;
  font-size: 1.2em;
}

#sidebar p { margin: 0; padding: 0; }

.pagination { text-align: center; }

#sidebar .content { margin-bottom: 15px; }

#search_and_drag { margin-top: 10px; }


/* "Sidebar" -> "User bar"
   ======================= */

#user_bar { min-height: 170px; }
#user_bar li { margin: 5px 0 5px 0 }

.gravatar, .gravatar_big {
	background-color: #FFF;
	border: 1px #888 solid;
	float: left;
	margin: 0 20px 0 0;
	padding: .15em;
	width: 75px;
	height: 75px;
}

.gravatar_big { margin-right: 25px; }


/* "Sidebar" -> "Manage stuff"
   ========================== */
      
#sidebar li.menu a, #sidebar li.menu a:hover {
  border-bottom: 2px #C0ED00 solid;
  display: block;
  text-decoration: none;
}

li.menu p { border-bottom: 2px #DED solid; color: #DED; }

ul.menuitems { padding: .25em 0 0 0; }

.menuitems li { margin: 0; padding: 0; }

#sidebar .menuitems li a {
  border-bottom: none;
  font-size: .75em;
  padding: .25em 0 0 0;
  text-decoration: none;
}
#sidebar .menuitems li a:hover { border: none; text-decoration: underline; }


/* "Sidebar" -> "Lists"
   ===================*/
   
#lists ul li { margin: 0 0 10px 0; }

#lists {
  float: left;
  height: 150px;
  margin: 0 15px 0 0;
  overflow: hidden;
  white-space: nowrap;
}

#wrap {
  float: left;
  width: 8px;
  height: 143px;
  background: transparent url(../images/scrollbar-track-bottom.png) no-repeat bottom left;
}

#track-top {
  position: absolute;
  width: 8px;
  height: 14px;
  background: transparent url(../images/scrollbar-track-top.png) no-repeat top left;
}

#track {
  position: absolute;
  width: 8px;
  height: 143px;
}

#handle {
  width: 8px;
  height: 16px;
}


/* "Sidebar" -> "Random stats"
   ==========================*/

#sidebar ol { font-size: 1.05em; margin: 10px 0 3px 0; }
#sidebar ol li { margin: 0 0 7px 0; }


/* "Footer"
   ======== */

#footer { float: left; margin-top: 15px; width: 100%; }
#footer p {
  border-top: 3px #02B8EA solid;
  margin: 0 25px 35px 25px;
  padding-top: .5em;
}
#footer ul { float: right; margin: .5em 25px 0 0; }
#footer ul li {
  display: inline;
	margin-left: 15px;
}

/* "Forms"
   ======= */

#tab_browser input#vocabulary_word {
  width: 550px;
  background:#fff;
  font-size: 1.2em;
  padding: .4em;
  border-top:1px solid #CCCCCC;
  border-left:1px solid #CCCCCC;
  border-right:1px solid #CCCCCC;
  border-bottom:1px solid #CCCCCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#test_options_input ul { font-size: .9em; }

#test_options_input ul li { margin: 0 0 10px 0; padding: 0; }

label {
	display:block;
	font-weight:bold;
	font-size: 1.25em;
	margin: 0 0 5px 0;
}

fieldset { border: none; padding: 0; margin: 0; }

fieldset ol { font-size: 1.1em; }

fieldset ol li { margin: 10px 0 25px 0; }

fieldset.buttons ol { list-style: none; }

.fields { margin: 0 0 35px 0; }

.fieldWithErrors  {
  border-left:6px solid #900;
  padding-left: .1em;
}

.fieldWithErrors+label {
  margin-top:0;
}

#errorExplanation {
	border:2px solid #900;
	width:100%;
	margin:10px 0 30px 0;
  background:#FCC;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: .25em .25em .25em .5em;
  font-size: 12px;
  background:#C66 no-repeat 10px 50%;
  color: #fff;
  border-bottom:2px solid #900;
  margin-top:0;
}

#errorExplanation p {
  margin: 0;
  padding: .5em;
  font-size: .75em;
  font-weight:bold;
}

#errorExplanation ul {
	font-size: .75em;
	margin-left:30px;
	padding:0 0 10px;
}

.inline-hints { color: #AAA; font-style: italic; font-size: 0.85em; }

input[type="submit"].spacing { margin: 25px 0 0 -1px; }

input[type="submit"][disabled="disabled"] { background-color: #CCC; color: #AAA; }

.boolean input { margin-right: 8px; }


/* "Forms" -> "Small"
   ================== */

form.small h3 { font-size: .75em; margin: 0 0 5px 0; }

form.small .fields { float: left; font-size: .75em; margin: 0 10px 15px 0; }

form.small .no-floater { float: none; }


/* "Forms" -> "Autocomplete"
   ========================= */

div.auto_complete {
	font-size: .75em;
	background: #fff; 
}

div.auto_complete ul { 
	border:1px solid #888; 
	margin:0; 
	padding:0;
	width:100%; 
	list-style-type:none; 
}
 
div.auto_complete ul li { 
	margin:0; 
	padding:3px; 
} 

div.auto_complete ul li.selected { 
	background-color: #02B8EA;
	color: #FFF;
} 

div.auto_complete ul strong.highlight { 
	margin:0; 
	padding:0; 
}

input, select {
	color: #555;
	font-family: Helvetica, Geneva, 'Lucida Grande';
	font-size: .9em;
}

option { padding: .1em; }
	
input[type="submit"] {
	background: #02B8EA;
	border: none;
	color: #FFF;
	margin-right: 25px;
	padding: .5em;
}

input[type="submit"].reverse { background: #FFF; color: #02B8EA; }


/* "Forms" -> "In Place Editor"
   ============================ */
   
.editable:hover { background: #ff6; cursor: pointer }

form.inplaceeditor-form { display: inline; }

form.inplaceeditor-form input[type="submit"] {
	font-size: .8em;
  margin-left: 12px;
}

form.inplaceeditor-form a, a.edit_link, input[type="submit"].grey {
	color: #FFF;
	background-color: #888;
	font-size: .8em;
	font-style: normal;
	padding: .35em;
	margin-left: 7px;
	text-decoration: none;
}

form.inplaceeditor-form a:hover {
	text-decoration: underline;
}

a.edit_link, input[type="submit"].grey { margin-left: 3px; padding: .25em; }


/* "Forms" -> "Regex tester"
   ============================ */

#regex { background-color: #DED; margin: -8px 0 40px 0; }
   
#regex_input form { float: left; }

form.test_rule input, #modified_verb {
  color: #999;
  font-size: 1.25em;
}

form.test_rule input { 
  margin: 17px 25px 25px 25px;
  padding: .2em;
}

#regex_result {
  min-height: 88px;
  width: 100%;
}

#regex_result p {
  float: left;
  margin: 25px 25px 0 0; 
}

#modified_verb {
  background-color: #FFF;
  border: 1px #CCC solid;
  float: left;
  margin: 16px 0 0 0;
  min-height: 20px;
  padding: .3em;
  text-align: left;
  width: 250px;
}


/* "Various"
   ========= */

.draggable {
	cursor: move;
	display: inline;
}

span.draggable {
  background-color: #666;
  color: #FFF;
  font-size: .5em;
  padding: .2em;
  text-transform: uppercase;
}

.over { background-color: #666; }

.strong { font-weight: bold; text-decoration: underline; }
	
#loading { float: left; margin-right: 10px; }

#loading img.with_text { float: left; margin-right: 10px; }

#loading p { margin-top: 5px; width: 450px; }

#graph_navigation { margin: 35px 0 0 20px; }


/* "Various" -> "Tag cloud"
   ======================== */

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }


/* "Various" -> "Dialog"
   ===================== */

div.dialog {
	width: 900px;
	padding: 1em;
	margin: 50px auto 50px auto;
}