- if !tag.blank?
  = "Showing performance on tests tagged with '" + tag + "'."
  = link_to 'Reset.', statistics_user_path(@user.permalink), :remote => true, :class => "lengthy"

- elsif !type.blank?
  = "Showing performance on " + type.underscore.humanize.downcase + "s."
  = link_to 'Reset.', statistics_user_path(@user.permalink), :remote => true, :class => "lengthy"

- else
  Showing performance on all tests.