<div class="content">
  <h1>Reset password</h1>
  <p>Use the form below to have your password reset and emailed to you.</p>
</div>

<div class="content"> 
  <%= error_messages_for :user %>
  <% form_tag forgot_password_users_path do -%>
    <div class="fields">
      <%= label_tag 'login' %>
      <%= text_field_tag :login %>
    </div>
    <div class="fields">
      <%= submit_tag 'Email password' %>
    </div>
  <% end -%>
</div>
