- content_for :sidebar do
  =  render :partial => 'lists/manage'

- content_for :notice do
  %h1 Community
  %p A growing community! Well, not really...

.content
  %h1 Users
  %p A list of this very exclusive sites' current members.
  %br
  = @users.collect { |user| render user }

%br
%br
%br

.content
  %h1 Lists
  - if @lists.blank?
    %p No user lists have been added yet.
  - else
    %p Our users have generated a bunch of vocabulary lists. Check them out. They're great for learning before a test.
    %ul.inline
      - @lists.each do |list|
        %li= link_to(list.name, list_path(list.permalink))