<% if logged_in? && authorized? %>
<div class="content">
  <h1>Actions</h1>
  <ul>
    <li><%= link_to('List vocabularies', vocabularies_path) %></li>
    <li><%= link_to('Add vocabulary', new_vocabulary_path) %></li>
    <li><%= link_to('Import CSV file', import_vocabularies_path) %></li>
  </ul>
</div>
<% end %>