%p Language ranking in terms of number of vocabularies:
%ol
  - Vocabulary.count_by_language.each_pair do |language,count|
    %li= link_to "#{language.capitalize} (#{number_with_delimiter(count)})", vocabularies_by_language_path(language)