%p#taglist
  = render :partial => 'shared/taglist_detail', :object => taglist

= form_tag tag_path(taglist.id, :type => taglist.class.to_s), :method => :put, :remote => true, :id => "tag_form", :style => "display:none" do 
  = text_field_tag "tag_list", taglist.tags.collect{|t| t.name}.join(", "), :size => 70
