- if taglist_detail.tag_list.blank?
  %em.tag= link_to_function("This #{taglist_detail.class.to_s} is currently untagged.", "$('taglist','tag_form').invoke('toggle'); $('tag_list').focus();", :class => "edit")

- else
  - taglist_detail.tag_list.each do |tag|
    - if signed_in?
      %em.tag= link_to_function(tag, "$('taglist','tag_form').invoke('toggle'); $('tag_list').focus();", :class => "edit")
    - else
      %em.tag= tag