- if @patterns.blank? 
  %p
    Sorry, no patterns have been added yet. Be the first and
    = link_to 'add one', new_pattern_path
    now.

- else
  .content
    %h3 Live search
    = text_field :pattern, :name, :size => 30

  %ul#pattern_list.inline
    = render @patterns