%li{ :id => "conjugation_#{conjugation.id}"}
  = link_to(conjugation.name, conjugation) + " in " + link_to(conjugation.conjugation_time.name, conjugation.conjugation_time)
  = link_to_remote('remove', { :url => unapply_conjugation_vocabulary_path(@vocabulary, :conjugation_id => conjugation.id), :confirm => 'Are you sure you want to remove this conjugation?', :method => :delete }, { :class => 'edit_link' }) if signed_in_as_admin?