- unless WikiPage.tag_counts.blank?
  .bg
    .bl
      .br
        .tl
          .tr Popular topics
  - tag_cloud WikiPage.tag_counts, %w(css1 css2 css3 css4) do |tag, css_class|
    = link_to tag.name, wiki_by_tag_path(tag.permalink), :class => css_class