- content_for :sidebar do
  = render :partial => '/oauth_clients/applications'

- content_for :notice do
  %h1 Authorization granted
  %p
    = @token.client_application.name
    has been given access to your account data
    
%h1 You have allowed this request.