%ul#comments
  %li.inline-hints#blank{ :style => (@vocabulary.comments.blank? ? 'display: show;' : 'display: none;') } No comments yet.
  = render @vocabulary.comments

%h3 Got something to add?
- if signed_in?
  = render :partial => 'comments/form', :locals => { :object => @vocabulary, :update => 'comments' }
- else
  Please
  = link_to 'log in', sign_in_path
  or 
  = link_to 'sign up', sign_up_path
  to post. You know, its the whole anti-spam thing.