- unless @vocabulary.language.conjugation_times.blank?
  .content
    = render :partial => 'simple_list', :collection => @vocabulary.language.conjugation_times, :spacer_template => 'shared/simple_list_separator'

= render :partial => 'shared/loading', :object => 'detecting patterns'

#conjugation_menu
  