.content
  %h2 Language
  = signed_in? ? in_place_select_field(:vocabulary, :language_id, { :label => @vocabulary.language.word }, :collection => Language.list.collect {|p| [ p.word, p.id ] }) : @vocabulary.language.word

.content
  %h2 Type
  = signed_in? && @vocabulary.conjugations.blank? ? in_place_editor_field(:vocabulary, :class_type) : @vocabulary.class_type

.content
  %h2 Article
  - if @vocabulary.class == Noun
    = signed_in? ? in_place_editor_field(:vocabulary, :gender) : @vocabulary.gender
  - else
    N/A