- if  @vocabulary.verb? && user_signed_in? && !@vocabulary.patterns.blank?
  %p.error.content
    %strong Please note:
    Editing has been disabled. Making changes would most certainly break the conjugation patterns you (or someone else) have previously defined. Remove those first.

.content
  %h2 Language
  = in_place_select @vocabulary, :language

.content
  %h2 Type
  = in_place_select @vocabulary, :class_type, Vocabulary.supported_types

.content
  %h2 Article
  - if @vocabulary.class == Noun
    = in_place_input @vocabulary, :gender
  - else
    N/A