!!!
%html
  %head
    %title
      = @list.name
      (powered by Vocabulario)
    = ANALYTICS_CODE
    = stylesheet_link_tag "print", :media => 'all'
  %body{ :onLoad => "javascript:print()" }
    = yield